<ns-action-bar
        [showBackButton]="false"
        [title]="'Seen Live'"
></ns-action-bar>

<StackLayout width="100%">
    <SearchBar hint="Type artist name"
               (textChange)="onTextChanged($event)"
               (loaded)="dismissSoftKeybaord($event)"
    ></SearchBar>
    <ScrollView orientation="vertical">
        <StackLayout>
            <FlexboxLayout *ngFor="let artist of artists"
                           (tap)="seeDetails(artist.artistId)"
                           alignItems="center"
                           class="artist">
                <Label class="artist__name" [text]="artist.name"></Label>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
<AbsoluteLayout>
    <ns-floating-button
            (buttonClicked)="addArtist($event)"
    ></ns-floating-button>
</AbsoluteLayout>